.recommendedvideos {
  flex: 0.8;
  background-color: #023047;
  height: 100vh;
  padding: 40px 20px;
  margin-top: 100px;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
  background-color: #023047;
  margin-left: 250px;
}
