.sidebar {
    flex: 0.2;
    background-color: #023047;
    position: fixed;
  }
  
  .sidebar > hr {
    height: 1px;
    border: 0;
    background-color: #023047;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  