/* SubscribedChannels.css */
.subscribed-channels-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to occupy the full viewport height */
}

.subscribed-channels {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribed-channels h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.subscribed-channels ul {
    list-style: none;
    padding: 0;
}

.subscribed-channels li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Add more styling as needed */
